.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 0px 10px;
  height: 30px;
  width: 100px;
  border: 1px solid transparent;
  opacity: 1;
  cursor: default;
  overflow: hidden;
}


.header-buttons:hover {
  border-bottom: 1px groove whitesmoke;
}

.header-buttons.selected {
  opacity: 0.5;

}

.header-buttons p {
  margin: 0;
  color: #379683;
  text-decoration: none;
  justify-content: space-evenly;


}

@media screen and (max-width: 1024px) {
  .header-buttons {
    font-size: 26px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 80px;
    width: 120px;
    border: 1px solid transparent;
    opacity: 1;
    cursor: default;
    overflow: hidden;
  }

  .header-buttons:hover {
    border-bottom: 1px groove whitesmoke;
  }

  .header-buttons.selected {
    opacity: 0.5;

  }

  .header-buttons p {
    margin: 0;
    color: #379683;
    text-decoration: none;
    justify-content: space-evenly;


  }
}

@media only screen and (max-width: 411px) {
  .header-buttons {
    font-size: 16px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 80px;
    width: 90px;
    border: 1px solid transparent;
    opacity: 1;
    cursor: default;
    overflow: hidden;



  }
}