
.header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height:60px;
    background-color: #ccc;
    top:0;
    position:fixed;
    align-items:center;
}

#junior {
    display: flex;
    width:70%;
    float: left;
    color:white;
}

